html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(130deg,rgba(42, 123, 155, 1) 0%, rgba(42, 123, 155, 1) 41%, rgba(192, 87, 199, 1) 99%);
}
#feedbackForm ,#result {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem auto;
    max-width: 350px;
}

#feedbackForm input,
#feedbackForm textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 3px solid #ccc;
}

#feedbackForm button {
    background: linear-gradient(130deg,rgba(42, 123, 155, 1) 0%, rgba(42, 123, 155, 1) 41%, rgba(192, 87, 199, 1) 99%);
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    cursor: pointer;
}